

<style type="text/css">
.hr3 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
}
</style>

<div class="videoContainer">
<!--    <iframe title="{{ include.id }}" src="https://player.vimeo.com/video/{{ include.id }}?title=0&byline=0&portrait=0" class="video" allowfullscreen></iframe>-->


    <hr class="hr3">
    A happy Husky in a snowy day
    <iframe src="https://player.vimeo.com/video/664509878?h=b981075110" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

    <hr class="hr3">
    The One And Only Line On Mobius Strip
    Mobius Strip only have one line. This single line made a strip that only have one face. The animation shows one ball move through this one and only line.
    <iframe src="https://player.vimeo.com/video/664510948?h=a3fce6bb8c" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

    <hr class="hr3">
    Programed the cubes' actions using Python programming language in the Blender software.
    <iframe src="https://player.vimeo.com/video/664627427?h=483582effb" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

    <hr class="hr3">
    Experiments with Force force fields
    <iframe src="https://player.vimeo.com/video/664628535?h=d6acbc32e8" width="640" height="640" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

    <hr class="hr3">
    Perfect match in time and space.
    <iframe src="https://player.vimeo.com/video/664628535?h=d6acbc32e8" width="640" height="640" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>


</div>

<!-- <iframe src="https://player.vimeo.com/video/56118179?h=348df628d5" width="640" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe> -->