<div class="videoContainer">
<!--    <iframe title="{{ include.id }}" src="https://player.vimeo.com/video/{{ include.id }}?title=0&byline=0&portrait=0" class="video" allowfullscreen></iframe>-->


    ----
    A happy Husky in a snowy day
    <iframe src="https://player.vimeo.com/video/664509878?h=b981075110" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    ----
    The One And Only Line On Mobius Strip
    Mobius Strip only have one line. This single line made a strip that only have one face. The animation shows one ball move through this one and only line.
    <iframe src="https://player.vimeo.com/video/664510948?h=a3fce6bb8c" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
</div>

<!-- <iframe src="https://player.vimeo.com/video/56118179?h=348df628d5" width="640" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe> -->