

<style type="text/css">
.hr3 {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
}



</style>


<div class="videoContainer">
<!--    <iframe title="{{ include.id }}" src="https://player.vimeo.com/video/{{ include.id }}?title=0&byline=0&portrait=0" class="video" allowfullscreen></iframe>-->

<!--    <hr class="hr3">-->
<!--    A happy Husky in a snowy day-->
<!--    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/664509878?h=b981075110&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="A Happy Christmas Day"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>-->

<!--    <hr class="hr3">-->
<!--    The One And Only Line On Mobius Strip-->
<!--    Mobius Strip only have one line. This single line made a strip that only have one face. The animation shows one ball move through this one and only line.-->
<!--    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/664510948?h=a3fce6bb8c&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="A Happy Christmas Day"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>-->

<!--    <hr class="hr3">-->
<!--    Perfect matching in time and space.-->
<!--    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/664629352?h=4d687b64da&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="A Happy Christmas Day"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>-->

<!--    <hr class="hr3">-->
<!--    Programed the cubes' actions using Python programming language in the Blender software.-->
<!--    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/664627427?h=483582effb&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="A Happy Christmas Day"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>-->

<!--    <hr class="hr3">-->
<!--    Experiments with Force force fields-->
<!--    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/664628535?h=d6acbc32e8&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="A Happy Christmas Day"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>-->


    <hr class="hr3">
    <hr class="hr3">
    <hr class="hr3">
    Test include videoid (without parseing videoid)
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/664509878?h=b981075110&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="A Happy Christmas Day"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

    <hr class="hr3">
    Test include videoid (parseing videoid)
    {{include}}
    {{include.videoid}}

    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/{{include.videoid}}&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="A Happy Christmas Day"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>


</div>

<!-- <iframe src="https://player.vimeo.com/video/56118179?h=348df628d5" width="640" height="480" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe> -->